*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: lightgreen;
}

#progress-bar
{
  background-color: yellow;
  width: 0px;
  height: 5px;
}

#progress-percent
{
  text-align: center;
}

.easy i:first-child, .medium i:nth-child(-n+2), .hard i:nth-child(-n+3){
  color:yellow;
}


.select-ans
{
  background-color: green;
}

.none
{
  background-color: white !important;
}

#score
{
  display: flex  !important;
  justify-content: space-between !important;
}

.progress
{
  height: 15px;
}

#correct-answered-score
{
  background-color: green;
  width: 0%;
  position: absolute;
  z-index: 10;
}

#total-wrong-score
{
  background-color: red;
  width: 0%;
  z-index: 15;
  position: absolute;
}
#total-correct-score
{
  background-color: yellow;
  width: 0%;
}
#option{
  padding: 0 15px;
  margin: 0 20px;
  font-family: Arial;
  box-sizing: border-box;
}